body{
    font-family: 'Ubuntu', sans-serif;
    background: url(../image/bgu.png) no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
     
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.25);
    
}
.logo{
    text-decoration: none;
    
    color: #FFFFFF;
    padding-top: 18px;
    font-size: 22px;
    padding-left: 79px;
    padding-bottom: 18px;
    transition: 1s;
}
.logo:hover{
    color:#01813F;
}

.logo p{
    margin: 0;
}

.img_link{
    text-decoration: none;
}
.navigation{
    color: #FFFFFF;
    padding-right: 79px;
    font-size: 14px;
    margin: 0;
}


.header_image{
    padding-right: 25px;
    padding-top: 17px;
    vertical-align: middle;
    
}
.head_calendar{
    transition: 1s;
}
.header_image:hover .head_calendar{
    fill: #01813F;
}
.head_messege{
    transition: 1s;
}
.header_image:hover .head_messege{
    fill: #01813F;
}
.header_compass{
transition: 1s;
}
.header_image:hover .header_compass{
    fill: #01813F;
}
.navigation span{
    display: inline-block;
    padding-top: 18px;
    vertical-align: middle;
}
.navigation span::before{
    content: "";
    margin-right: 27px;
    border-right: 1px solid rgba(255, 255, 255, 0.9);
}
.navigation_link{
    text-decoration: none;
    color: #FFFFFF;
    transition: 1s;
}

.navigation_link_login:hover{
    color: #01813F;

}
.navigation_link_signup:hover{
    color: #01813F;
}

.main_content{
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    max-width: 444px;
    position: relative;
    margin-top: 7%;
}

.heder_main_content{
    display: flex;
    justify-content: space-between;
    padding-left: 61px;
    padding-right: 59px;
    padding-top: 30px;
    padding-bottom: 15px;
    align-items: flex-end;
    
}
.cube{
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    position: absolute;
    top: 35px;
}
.heder_main_content_signup{
    font-size: 20px;
    color: #434343;
}
.heder_main_content_link{
    text-decoration: none;
    color: #3CB878;
    transition: 0.5s;
}
.heder_main_content_link:hover{
    color: #01813F;
    text-decoration: underline;
}
.buttoms_login{
    padding-left: 60px;
    display: flex;
    margin-bottom: 30px;
}

.buttom_login{
    display: flex;
    width: 160px;
    height: 48px;
    margin-right: 5px;
    align-items: center;
}

.buttom_facebook{
    background-color: #305DB8;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 16px;
    transition: 1s;
}
.buttom_facebook:hover{
    background-color:#022263;;
}

.facebook_logo{
    padding-left: 17px;
    padding-right: 18px;
}
.buttom_facebook span::before{
    content: "";
    margin-right: 18px;
    border-right: 1px solid #0A162F;
    opacity: 10%;
}

.buttom_google{
    background-color: #DF4A32;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    transition: 1s;
}
.buttom_google:hover{
    background-color: #AB1F09;
}

.google_logo{
    padding-left: 10px;
    padding-right: 7px;
}
.buttom_google span::before{
    content: "";
    margin-right: 30px;
    border-right: 1px solid #0A162F;
    opacity: 10%;
}
.or{
    padding-left: 60px;
    font-size: 14px;
    color: #848484;
    text-align: center;
    padding-right: 60px;
}
.or span {
    position: relative;
}

.or span::before{
    width: 152px;
    content: '';                     
    position: absolute;              
    border-bottom: 1px solid  #F2F2F2;  
    right: 15px; 
    top:50%;                        
}
.or span::after{
    width: 152px;
    content: '';                     
    position: absolute;              
    border-bottom: 1px solid  #F2F2F2;  
    left: 15px; 
    top:50%;                        
}


.list_input{
    list-style-type: none;
    padding-left: 60px;
}
.input{
    outline: none;
    border: 1px solid  #F2F2F2;
    width: 320px;
    height: 42px;
    margin-bottom: 15px;
    border-radius: 4px;
    text-indent: 20px;
    color: #434343;
}
.input:focus{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
[name="agree"]{
    display: none;
}
[name="agree"]+.checkbox_label{
    display: flex;
    align-items: center;
}
[name="agree"] + .checkbox_label::before{
    content: "";
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-left: 0;
    border: 1px solid #F2F2F2;
}

[name="agree"]:checked + .checkbox_label::before{
    content: "";
    background-image: url(../image/ok.svg);
    background-repeat: no-repeat;
}

.terms_of_use{
    text-decoration: none;
    color: #3CB878;
    transition: 1s;
}
.terms_of_use:hover{
    color: #01813F;
    text-decoration: underline;
}
.checkbox_label{
    font-size: 14px;
    color: #434343;
}
.button_create{
    width: 324px;
    height: 46px;
    color: #FFFFFF;
    background-color: #3CB878;
    border: 0;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 38px;
    transition: 1s;
}

.button_create:hover{
    background-color: #01813F;
}