body{
    font-family: sans-serif;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    
}
.background1{
    background-color: #F2F2F2;
    
}
.background2{
    background-color: #E5E5E5;

}
.background3{
    background-color: rgba(0, 0, 0, 0.0001);

}

.header_page {
    display: flex;
    width: auto;
    height: 70px;
    background-color: #313131;
    justify-content: start;
    align-items: center;
    margin-bottom: 0;
}

.logo{
margin-left: 29px;
float: right;

}

.architect{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 22px;
    margin-left: 27px;

}
.header_menu {
    list-style-type: none;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.header_menu_item {
    margin-left: 35px;
}
.header_menu_link{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 15px;
}
.header_menu_link:hover{
    color: #14B9D5;

} 
.search {
    display: flex;
    width: 68px;
    height: 68px;
    background-color: #000000;
    justify-content: center;
    align-items: center;
}
.header_title{
    display: flex;
    margin-top: 0;
    background-image: url(../images/header-background.png);
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.header_title_text{
    text-align: center;
    margin-top: 165px;
    margin-bottom: 44px;
    color: #FFFFFF;
    font-size: 27px;
    width: 100%;
}
.header_title_buttom_green{
    display: flex;
    width: 170px;
    height: 50px;
    background-color: #89CA62;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 74px;
}
.header_title_buttom_green_blue{
    display: flex;
    width: 170px;
    height: 50px;
    background-color: #14B9D5;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom: 74px;
}
.header_link{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}

.header_title_most_popular{
    display: grid;
    margin-top: 0;
    background-image: url(../images/bgu2.png);
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}



.header_title_text_most_popular{
    text-align: center;
    margin-top: 108px;
    color: #FFFFFF;
    font-size: 32px;
    width: 100%;
}

.logo_most_popular{
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 106px;
    margin-bottom: 150px;
}
.logo_image{
    margin-left: 29px;
    margin-right: 29px;
}

.line{
    width: 60px;
    margin-left: auto;
    margin-right: auto;
    height: 3px;
    color: #18B4CF;
    margin-top: 87px;
    background-color: #18B4CF;
}

.header_bloks{
    width: 100%;
    text-align: center;
    font-size: 27px;
    color: #18B4CF;
    padding-top: 49px;
    margin-top: 0;
}

.main_cotent{
    display: flex;
    justify-content: start;
    text-align: center;
    width: 1200px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    justify-items: start;
    align-items: start;
    height: 900px;
    
   
}
    
.main_content_element{
    
    background-color: #FFFFFF;
    margin-bottom: 30px;
    
}
.main_content_element_link{
    text-decoration: none;
    color: #353A3D;
    font-size: 18px;
    font-weight: bold;
}

.collage{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 0;
    
}


.hot_news{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    grid-template-rows: 260px 1fr 1fr 260px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 60px;
    grid-row-gap:45px;
    margin-bottom: 70px;


    grid-template-areas:
    "item1 item1 item1 item2"
    "item3 item3 item4 item4"
    "item5 item5 item6 item6"
    "item7 item8 item8 item8"

}
.hot_news_element1{
    background: #F9F7F7;
    grid-area: item1;
    height: 260px;
    }
.hot_news_image{
    float: left;

}
.hot_news_title_element1{
    text-decoration: none;
    float: right;
    font-size: 18px;
    color: #353A3D;
    margin-right: 24px;
    text-align: right;
    margin-top: 40px;
    margin-bottom: 0;

}
.hot_news_text_element1{
    float: right;
    font-size: 14px;
    color: #5B6469;
    margin-right: 24px;
    text-align: right;
    width: 350px;
    
}

.hot_news_element2{
    text-align: center;
    background: #F9F7F7;
    grid-area: item2;
    height: 260px;
   
}
.hot_news_title_element2{
    text-decoration: none;
    font-size: 18px;
    color: #353A3D;
}
.hot_news_element3{
    background: #F9F7F7;
    grid-area: item3;
    text-align: right;
}

.hot_news_title_element3{
    font-size: 18px;
    margin-right: 14px;
}
.hot_news_text_element3{
    font-size: 14px;
    color: #5B6469;
    margin-right: 14px;
    text-align: right;    
}


.hot_news_element4{
    background: #F9F7F7;
    grid-area: item4;
    text-align: right;

}
.hot_news_title_element3{
    
    text-decoration: none;
    font-size: 18px;
    text-decoration: none;
    color: #353A3D;
}

.hot_news_element5{
    background: #F9F7F7;
    grid-area: item5;
    text-align: right;

}
.hot_news_element6{
    background: #F9F7F7;
    grid-area: item6;
    text-align: right;
}
.hot_news_element7{
    text-align: center;
    background: #F9F7F7;
    grid-area: item7;
    height: 260px;
}
.hot_news_element8{
    background: #F9F7F7;
    grid-area: item8;
    height: 260px;

}


.footer_title{
    display: grid;
    width: auto;
    height: 80px;
    background-color: #000;
    justify-content: start;
    align-items: center;
    margin-bottom: 0;
    grid-template-columns: 1fr 1fr;
}

.footer_text{
    font-size: 13px;
    color: #fff;
    justify-self: center;
    
}
.footer_logo{
    justify-self: center;
    }




