body{
    width: auto;
    height: auto;
    font-family: sans-serif;
}

.section {
    margin-left: auto;
    margin-right: auto;
    max-width: 1366px;
    background-image: url(../images/background\ 1.png);
}
.title {
    display: flex;
    max-width: 1030px;
    padding-left: 160px;
    padding-top: 46px;
    justify-content: space-between;
    margin-bottom: 17px;

}

.logo_link{
    text-decoration: none;
}
.logo {
    float: left;
}
.logo_orang{
    float: left;
    display: none;}

.logo_text {
    color: #FFFFFF;
    font-size: 18px;
    margin: 0;
}
.first_word_logo{
    font-size: 29px;
}

.logo_link:hover .logo_text{
    color: #F26522;
}
.logo_link:hover .logo{
    display: none;
}
.logo_link:hover .logo_orang{
    display: inline;
}

.contaks {
    display: flex;
    }

.mail{
    text-decoration: none;
    color: #ffffff;
}
.contaks:hover .phone{
    color: #F26522;
}

.contaks:hover .mail{
    color: #F26522;
}

.phone {
    color: #FFFFFF;
    text-align: end;
    margin-top: 20px;
    margin-bottom: 0;
}



.tours {
    list-style-type: none;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-auto-rows: 260px;
    grid-column-gap: 65px;
    grid-row-gap: 37px;
    max-width: 1030px;
    padding-left: 160px;
    margin-top: 0;
    
    
}
.image{
    position: relative;
    object-fit: cover;
   }
   

.tour_list_link{
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
}
.tours_list {
position: relative;
overflow:hidden;
   
}

.tours_list_price {
    position: absolute;
    background-color: #F26522;
    width: 300px;
    height: 55px;
    bottom: -100px;
    transition-duration:0.5s;
     
    
    
}
.tours_list_price_from{
    text-align: start;
    margin-top: 7px;
    margin-bottom: 0;
    font-size: 10px;
    padding-left: 16px;
    
}
.tours_list_price_50{
    display: inline-block;
    margin-top: 8px;
    
    font-size: 20px;
    
}
.tours_list_price_from_detals{   
    display: inline-block;
    font-size: 14px;
    margin-top: 8px;
    margin-left: 125px;
}
.tours_list_price_from_detals::after{
    content: "\003E";
    padding-left: 16px;
}
.tours_list_link{
    margin-top: 20px;
}

.tours_list_shopin_tours:hover .tours_list_price_shopin_tours {
    bottom: 40px;
} 
.tours_list_shopin_tours:hover .tours_list_link_shopin_tours{
    color: #F26522;
}
.tours_list_sightseeing:hover .tours_list_price_sightseeing {
    bottom: 40px;
}
.tours_list_sightseeing:hover .tours_list_linktours_list_link_sightseeing{
    color: #F26522;
}
.tours_list_food:hover .tours_list_price_food{
    bottom: 40px;
}
.tours_list_food:hover .tours_list_link_food{
    color: #F26522;
}
.tours_list_bars:hover .tours_list_price_bars{
    bottom: 40px;
}
.tours_list_bars:hover .tours_list_link_bars{
    color: #F26522;
}
.tours_list_art:hover .tours_list_price_art{
    bottom: 40px;
}
.tours_list_art:hover .tours_list_link_art{
    color: #F26522;
}
.tours_list_walking:hover .tours_list_price_walking{
    bottom: 40px;
}
.tours_list_walking:hover .tours_list_link_walking{
    color: #F26522;
}


.footer{
    text-align: center;
    color: #FFFFFF;
    margin-top: 50px;
    font-size: 12px;
    padding-bottom: 15px;
}