body{
    font-family: sans-serif;
    width: 1280px;
    margin-right: auto;
    margin-left: auto;
}

.container {
    margin-left: auto;
    margin-right: auto;
}


.page__header {
    padding-top: 0px;
}
.menu {
    display: inline-block;
    vertical-align: top;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 258px;
    margin-right: 330px;
    color: #FF0000;
}
.menu-item {
    display: inline-block;
    margin-left: 72px;
    font-size: 16px;
    
    
}

.menu-link {
    font-size: 18px;
    line-height: 22px;
    color: #FF0000;
    text-transform: uppercase;
}
.dowload-lik{
    margin-left: 50px;

}


.image{
    width: auto;
}
.main_header{
    font-size: 22px;
    text-align: center;
    width: 744px;
    height: 29px;
    margin-top: 49px;
    margin-bottom: 38px;
    margin-left: 253px;
    margin-right: 253px;
    color: #373737;
}
.text{
    width: 1145px;
    font-size: 16px;
    margin-left: 67px;
    margin-right: 67px;
    margin-bottom: 28px;
    text-align: center;
    color: #373737;
}

.buttom{
    width: 191px; 
    height: 51px;
    margin-top: 66px;
    margin-left: 544px;
    margin-right: 544px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #FF0000;
    }

.buttom-link{
    color: #ffffff;
}





.copyright{
   font-size: 16px;
   margin-left: 713px;
   margin-top: 82px;
   color: #373737;
}



