body{
    font-family: sans-serif;
    width: 1280px;
    margin-right: auto;
    margin-left: auto;
}
.logo {
    text-decoration: none;
    font-size: 80px;
    line-height: 94px;
    
}

.logo span:first-child{
    color: black;
}

.logo span:last-child{
    color: aqua;
}



.menu {
    list-style-type: none;
    display: flex;
    background: #35444F;
    width: auto;
    height: 75px;
    align-items: center;
    justify-content: center;
    margin-top: 38px;
    margin-bottom: 48px;
    
}
.menu_title{
    
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    padding-top: 26px;
    padding-bottom: 16px;
    padding-left: 35px;
    padding-right: 35px;
   
    
}
.menu_link{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 24px;
}
.center_content{
    display: flex;
    align-items: start;
    margin-bottom: 37px;

}

.second_menu {
    list-style-type: none;
    display: flex;
    width: 344px;
    flex-flow: column;
    border: 1px solid #000000;
    padding-left: 0;
    margin-right: 52px;
    margin-top: 0;
}

.second_menu_title {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-left: 0;
    padding-left: 30px;
    
}

.second_meny_link{
    text-decoration: none;
    color: #485863;
    font-size: 27px;
}



.picture {
    width: 885px;
    height: 530px;
    border: 1px solid #000000;
}
.picture_img{
    margin:  75px 297px 73px 268px;
}

.text{
    margin-left: 396px;
    margin-right: 0;
    margin-bottom: 34px;
    font-size: 18px;
    color: #2C2C2C;
}

.third_menu {
    list-style-type: none;
    display: flex;
    background: rgba(99, 105, 110, 0.48);;
    width: auto;
    height: 75px;
    align-items: center;
    justify-content: start;
    margin-top: 38px;
    margin-bottom: 48px;
}
.third_menu_title {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    
}
.third_menu_link{
    text-decoration: none;
    color: #0C1927;
    font-size: 24px;
}

.third_menu li:last-child{
    color: #010101;
    justify-content: end;
    padding-left: 135px;
    font-size: 24px;
}

.menu_title:hover{
    background-color: #222F3A;
    
}







.second_menu_title:hover{
    padding-left: 0;
    background-color: #DBDBDB;
    padding-left: 60px;
    }

.third_menu_link:hover{
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
    padding-bottom: 13px;
}


