body
{
	width: 100%;
	height: 100%;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: 700;
	color: rgb(173, 138, 42);
	background-color: #000;
	overflow: hidden;
	
}
.block
{
	position: absolute;
	width: 1000px;
	height: 3000px;
	bottom: 0;
	left: 50%;
	margin-left: -500px;
	font-size: 70px;
	font-weight: bold;
	text-align: justify;
	overflow: hidden;
	transform-origin: 50% 100%;
	transform: perspective(300px) rotateX(25deg);
}
.block::after
{
	position: absolute;
	content: ' ';
	left: 0;
	right: 0;
	top: 0;
	bottom: 60%;

}
.content
{
	position: absolute;
	top: 100%;
	animation: scroll 30s linear 0s infinite;
}
.center{
	text-align: center;
}
@keyframes scroll {
	0% { top: 100%; }
	100% { top: 1%; }
}